{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
        <h1 class="my-4 text-center text-lg-left">{{ object }}</h1>
        <div class="row text-center text-lg-left">
            <div class="col-lg-3 col-md-4 col-xs-6">
                    <img class="img-fluid img-thumbnail" style="width: 200px; height: auto" src="{{ object.coin.image.url }}" alt="">
            </div>
        </div>
            <div class="row text-center text-lg-left">
<form method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Aktualizuj</button>
  <a href="{% url 'usercoin-delete' object.id %}" class="btn btn-danger">Usuń</a>
</form>
            </div>
{% endblock content %}