{% extends "base.html" %}
{% block content %}
        <h1 class="my-4 text-center text-lg-left">{{ object }}</h1>
        <div class="row text-center text-lg-left">
            {% for coin in object.coin_set.all %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <a href="{% url 'coin-detail' object.slug coin.id %}" class="d-block mb-4 h-100">
                    <span class="text-center d-block">{{ coin }}</span>
                    <img class="img-fluid img-thumbnail" style="width: 200px; height: auto" src="{{ coin.image.url }}" alt="">
                </a>
            </div>
            {% empty %}
            Brak kapsli w tej kategorii.
            {% endfor %}
        </div>
{% endblock content %}